**리스트, 튜플**
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트와 동일한 의미로 이해
- list -mutable(생성된 후에 변경 가능)
- tuple -immutable(생성된 후에 변경 불가능)

**리스트 초기화**
- []안에 값을 담아서 생성
- list()함수로 생성
- str.split로 생성

In [1]:
a=['korea', 'canada',1,3,[23,21]]
print(a)

['korea', 'canada', 1, 3, [23, 21]]

In [2]:
a='hello world'
b=list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [3]:
c=(1,2,3)
d=list(c)
print(d)

[1, 2, 3]

**string split 함수(자주 사용)**
- 구분자로 구분되는 리스트를 반환

In [5]:
a='hello mr my yesterday'
b=a.split()
print(b)

['hello', 'mr', 'my', 'yesterday']

- 리스트 개별 아이템 역시 인덱스를 이용하여 접근/업데이트 가능

In [7]:
a='hello world'#스트링 타입은 불변개체
print(a[0])
b='j'+a[1:]
print(b)
#replace를 사용한다 해도 a의 값은 변하지 않음

h
jello world

**리스트 slicing**
- 문자열 슬라이싱과 동일하게 동작
- 슬라이시의 결과 역시 리스트

In [9]:
a=[1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])
#start:end:increment(1)
print(a[1:7:2])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[2, 4, 6]

**list 멤버 함수**
- 생성된 리스트 객체에 동작하는 함수
- 향후, 클래스와 멤버 함수 개념을 이해할 예정

- **append()**
  - 리스트의 끝에 항목을 추가함

In [10]:
a=[1,2,3,4,5]
print(a)
a.append(6)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

- **extend()**
  - 리스트를 연장, +=로도 사용가능

In [12]:
a1=[1,2,3,4,5]
a2=[1,2,3,4,5]
b=[6,7,8,9,10]
a1.append(b)
print(a1)
a2.extend(b)
print(a2)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **insert()로 항목 추가**
  - 리스트의 원하는 위치에 추가 가능
  - 앞에 인덱스, 뒤에 아이템을 명시

In [13]:
a=[1,2,3,4,5]
a.insert(1,40)
print(a)

[1, 40, 2, 3, 4, 5]

- **remove()**
  - 값으로 항목 삭제

In [16]:
a=[1,2,3,4,3,3,5]
a.remove(3)
print(a)

[1, 2, 4, 3, 3, 5]

- **pop()**
  - 지우고자 하는 아이템을 반환 후 삭제

In [18]:
a=[1,2,3,4,5]
a.pop()
print(a)

[1, 2, 3, 4]

- **index()**
  - 찾고자 하는 값의 인덱스 반환

In [19]:
a=[2,6,7,9,10]
a.index(9)

3

- **in 키워드**
  - 리스트 내에 해당 값이 있는지 확인
  - value in [list]
  - 불리언 값 반환

In [20]:
a=[1,2,3,4,5,6]
b=10
c=b in a
print(c)

False

- **list 정렬**
  - sort() : 리스트 자체를 내부적으로 정렬
  - sorted() : 리스트의 정렬된 복사본을 반환

In [21]:
a=[9,10,7,19,2,1,20,21,7]
a.sort(reverse=True) #내림차순
b=sorted(a)
print(a)
print(b)

[21, 20, 19, 10, 9, 7, 7, 2, 1]
[1, 2, 7, 7, 9, 10, 19, 20, 21]

- **tuple**
  - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
  - 생성된 후 변경 불가능

In [22]:
a=[1,2,3]
b=(1,2,3)
print(type(a))
print(type(b))
#b[0]=100 불가능

<class 'list'>
<class 'tuple'>

- **tuple unpacking**
  - 튜플의 값을 차례대로 변수에 대입

In [25]:
a,b,c,d=(1,2,3,4)
print(a,b,c,d)
a,b,c,d=5,6,7,8 #tuple의 소괄호는 생략 가능
print(a,b,c,d)

1 2 3 4
5 6 7 8

- **dictionary**
  - 키와 값을 가지는 데이터 구조
  - 키는 내부적으로 hash값으로 저장
  - **순서를 따지지 않음. 즉, 인덱스가 없음**

In [30]:
a={'Korea':'Seoul','Canadea':'Ottawa','USA':'Wasington D.C'}
print(a)
print(type(a))
print(a['Korea'])
#print(a[0])는 에러 출력

b={0:1,1:6,7:9}
print(b[0])#요건 왜 될까?

{'Korea': 'Seoul', 'Canadea': 'Ottawa', 'USA': 'Wasington D.C'}
<class 'dict'>
Seoul
1

- **항목 추가 및 변경**
  - 기존에 키가 존재하면 새로운 값으로 업데이트
  - 존재하지 않으면 새로운 키/값 생성
  - 키의 중복은 있을 수 없음(hash값은 유일해야 함)

In [32]:
a={'Korea':'Seoul','Canadea':'Ottawa','USA':'Wasington D.C'}
print(a)
a['Japan']='Tokyo'
a['Korea']='Hi'
print(a)

{'Korea': 'Seoul', 'Canadea': 'Ottawa', 'USA': 'Wasington D.C'}
{'Korea': 'Hi', 'Canadea': 'Ottawa', 'USA': 'Wasington D.C', 'Japan': 'Tokyo'}

- **update()**
  - 두 딕셔너리를 병합함
  - 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [33]:
a={'a':1, 'b':2, 'c':3}
b={'a':2, 'd':4, 'e':5}
a.update(b)
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

- **딕셔너리 삭제법**
  - del로 원하는 딕셔너리 삭제
  - pop 함수 이용

In [35]:
a={'a':1, 'b':2, 'c':3}
print(a)
a.pop('b')
print(a)
del a['a']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
{'c': 3}

- **clear()**
  - 딕셔너리의 모든 값을 초기화

In [36]:
a={'a':1, 'b':2, 'c':3}
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3}
{}

- **in**
  - key값 존재 확인
  - 딕셔너리의 크기와 관계없이 항상 O(1)연산
  - 리스트에서는 성능 저하 초래

In [37]:
a={'a':1, 'b':2, 'c':3}
b=[1,2,3,4,5,6,7,8,100]
print('b' in a)
print(100 in b)

True
True

- **value access**
  - dict[key]로 접근. 키가 없는 경우 에러 발생
  - .get() 함수로 접근. 키가 없는 경우 None 반환

In [39]:
print(a['a'])
print(a.get('d'))

1
None

- **모든 keys, values의 접근**
  - keys() : 모든 키만 반환
  - values() : 모든 값만 반환
  - items() : 키, 값의 튜플을 반환
  - list()를 이용하여 리스트화가 가능

In [43]:
a={'a':1, 'b':2, 'c':3}
print(a.keys())
print(a.values())
print(list(a.keys()))
print(list(a.values()))

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
['a', 'b', 'c']
[1, 2, 3]

- **set**
  - dictionary에서 key만 활용하는 데이터 구조로 이해
  - 수학에서의 **집합과 동일한 개념**
  - 인덱스가 없다->순서가 존재하지 않는다.
  - 비어있는 set을 만들고 싶으면 a=set()으로

In [44]:
a={1,1,2,2,3,3,4,1,2,4,5}
print(a)

{1, 2, 3, 4, 5}

In [45]:
a=[1,1,2,3,3,4,5,1,2,5]
print(a)
b=set(a)
print(b)

[1, 1, 2, 3, 3, 4, 5, 1, 2, 5]
{1, 2, 3, 4, 5}

- **set operations**
  - 수학 연산과 동일
  - 교집합, 합집합, 차집합 등 지원

In [50]:
a={1,1,2,2,3,3,4,1,2,4,5}
b={2,3,4}

print(a.union(b)) #합집합
print(a.intersection(b)) #교집합
print(a.difference(b)) #차집합
print(a.issubset(b)) #부분 집합

{1, 2, 3, 4, 5}
{2, 3, 4}
{1, 5}
False