# Written on June 7th.

주석 : comment(#)
개발자가 보기 위한 용도로 사용

In [3]:
a=10
b=11

**print 함수**
- 해당 변수의 값을 출력
- ,로 여러 변수를 나열하면 한줄에 출력

**print 함수의 설정**
- sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
- end : 마지막에 출력할 문자열

In [4]:
print(a,b,10,100)
print(a,b,10,100,sep='*',end='!!')

10 11 10 100
10*11*10*100!!

**변수의 출력 방법 두 가지**
- print() 함수 사용
- 변수 값을 코드의 마지막에 위치한 후 실행
  - 이 경우 output으로 변수의 값이 출력

In [5]:
a
b

11

**variable naming**
- 숫자로 시작하는 이름을 제외하고 여문 대소문자, 언더바, 숫자로 구성 가능
- 아래의 예제는 모두 valid한 변수 이름
- 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
  - 코드를 읽은 것을 더 쉽게 할 수 있음
  - 변수에 이름을 부여하여 개발자의 코딩을 돕는다

In [6]:
abc=100 #가능
_abc=200 #가능

**reserved keywords(예약어)**
- pythob에서 미리 선점하여 사용중인 키워드
- 변수, 함수, 클래스 등의 사용자 정의 이름으로 사용할 수 없음
- 초록색으로 변화되는 단어들은 모두 예약어라 사용하면 됨

**기본 데이터 타입**
- 정수(int)
- 실수(float)
- 문자열(str)
- 불리언(boolean)

**type 함수**
해당 변수, 값의 타입을 알고자 할 때 사용

In [9]:
type(a)

int

In [11]:
b=11.6
type(b)

float

**None**
- 아무런 값을 가지지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
- 기타 언어의 NULL, nil등과 같은 의미로 사용

In [12]:
c=None

**comparison operator(비교 연산자)**
- 프로그래밍에서는 비교를 할 경우 ==를 사용
- 작다 크다, 같지 않다 등 여러 비교 연산자의 결과는 **불리언 타입**이다.

In [15]:
print(a>b)
print(a==b)
print(a!=b)
type(d)

False
False
True

bool

**numbers(숫자형 타입)**
- 정수, 실수로 구성
- 수학의 기본 연산자 사용 가능

In [16]:
a=5
b=4
print(a+b*b)

21

**연산자 우선순위**
- 기본적인 수학의 연산자와 동일
- 강제로 연산을 선수하기 위해선, 괄호를 사용

**expression evaluation & assignment (식평가 & 대입)**
- 변수의 값이 변경되기 위해서는 **=를 사용하여 대입이 발생하는 경우에만 해당**한다.

In [18]:
a=3
print(a)
print(a-1)
print(a)
a=a-1
print(a)

3
2
3
2